In [1]:
import pandas as pd
import numpy as np

In [8]:
x=[]
for i in range(0, 6):
    p=pd.read_csv("DataReg/tab{}.csv".format(i))
    q=p[["RainToday", "Autumn", "Summer", "Winter", "Spring"]]
    x.append(q)

In [9]:
x[0]

       RainToday  Autumn  Summer  Winter  Spring
0              0       0       1       0       0
1              0       0       1       0       0
2              0       0       1       0       0
3              0       0       1       0       0
4              0       0       1       0       0
...          ...     ...     ...     ...     ...
12770          0       1       0       0       0
12771          0       1       0       0       0
12772          1       1       0       0       0
12773          0       1       0       0       0
12774          0       1       0       0       0

[12775 rows x 5 columns]

In [18]:
for i in range(0,6):
    temp= x[i].drop(["RainToday"], axis=1)
    l=[]
    for k in range(0,len(temp)):
        for j in temp.columns:
            if(temp.at[k,j]==1):
                l.append(str(j))
    x[i]["Season"]=pd.Series(l)

C:\Users\Adrianzka\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [20]:
y=[]
for i in range(0,6):
    y.append(pd.DataFrame(x[i][["RainToday","Season"]]))

In [21]:
y[0]

       RainToday  Season
0              0  Summer
1              0  Summer
2              0  Summer
3              0  Summer
4              0  Summer
...          ...     ...
12770          0  Autumn
12771          0  Autumn
12772          1  Autumn
12773          0  Autumn
12774          0  Autumn

[12775 rows x 2 columns]

In [36]:
dic={0: "New South Wales",
     1: "Victoria",
     2: "Queensland",
     3: "South Australia",
     4: "Western Australia",
     5: "Northern Territory"
}

In [37]:
summer= pd.DataFrame(columns=["RainToday", "Region"])
spring= pd.DataFrame(columns=["RainToday", "Region"])
autumn= pd.DataFrame(columns=["RainToday", "Region"])
winter= pd.DataFrame(columns=["RainToday", "Region"])
for i in range(0,6):
    s= pd.DataFrame(y[i][y[i]["Season"]=="Summer"].drop(["Season"], axis=1))
    p= pd.DataFrame(y[i][y[i]["Season"]=="Spring"].drop(["Season"], axis=1))
    a= pd.DataFrame(y[i][y[i]["Season"]=="Autumn"].drop(["Season"], axis=1))
    w= pd.DataFrame(y[i][y[i]["Season"]=="Winter"].drop(["Season"], axis=1))
    s["Region"]=dic[i]
    p["Region"]=dic[i]
    a["Region"]=dic[i]
    w["Region"]=dic[i]
    summer = summer.append(s, ignore_index=True)
    spring = spring.append(p, ignore_index=True)
    autumn = autumn.append(a, ignore_index=True)
    winter = winter.append(w, ignore_index=True)

In [38]:
summer

      RainToday              Region
0             0     New South Wales
1             0     New South Wales
2             0     New South Wales
3             0     New South Wales
4             0     New South Wales
...         ...                 ...
12931         0  Northern Territory
12932         0  Northern Territory
12933         0  Northern Territory
12934         1  Northern Territory
12935         1  Northern Territory

[12936 rows x 2 columns]

In [39]:
summer.to_csv("summer.csv")
spring.to_csv("spring.csv")
autumn.to_csv("autumn.csv")
winter.to_csv("winter.csv")